$black-color: #000;
@mixin box-style($width: 50px, $height: 40px) {
  height: $height;
  width: $width;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  background-color: $black-color;
}

.login_form {
  background-color: lighten($black-color, 40%);
  position: absolute;
  @include box-style(440px, 168px);
  margin: -100px 0 0 -200px;
  top: 50%;
  left: 50%;
  border-radius: 10px;

  form {
    padding: 10px;
  }

  input, button, label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .text-box-style {
    padding: 0 10px;
    @include box-style(300px, 45px);
    color: #bbb;
    text-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);

    &:focus {
      color: white;
      background: rgba(0, 0, 0, 0.1);
      outline: 0;
    }
  }

  .button-style {
    padding: 0 10px;
    @include box-style(98px, 45px);
    color: #bbb;
    text-shadow: 1px 1px 1px black;
    background-color: #36b9ef;
    border: 0;
    border-radius: 5px;
    margin-left:80px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);

    &:focus, &:hover {
      color: white;
      background-color: darken(#36b9ef, 30%);
      outline: 0;
    }
  }
}

label {
  float: left;
  width: 100px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 1px;
}